<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Lecture forum</h5>
                <p class="white-text">A social platform dedicated to intra-school communication.</p>
                <p class="white-text">Everything you want to say is here。</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <!-- <nav> -->
                    <!-- <li><a class="white-text" href="/aboutus/">about us</a></li> -->
                    <!-- </nav> -->
                    <li>
                    Group 1:
                    Nikhila polsani
                    sushma madireddy
                    Naveen poluri
                    Sneha daruri
                    </li>
                    <li>undergraduate design</li>
                </ul>
            </div>
        </div>
    </div>
</footer>