<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Users Details</title>
  </head>
  <body>
  	<div th:insert="fragments/admin_navbar.html"> </div>
  	<br>
    <br>
    <br>
    <div class="row" style="margin-top:30px">
        <div class="col-sm-3"></div>
        <div class="col-md-6">
            <h1 style="font-family: 'Roboto Slab', serif; padding-bottom: 10px;">Edit Users Details</h1>
            <form th:object="${user}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}">
                    </div>
                    <!-- <div class="form-group col-md-6">
                        <label for="lastname">First Name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Last name">
                    </div> -->
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="emailaddress">Email</label>
                        <input type="email" class="form-control" id="emaiaddress" placeholder="Email" th:field="*{email}">
                    </div>
                    <!-- <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div> -->
                </div>
                <!-- <div class="form-row">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div> -->
                <div style="padding-top: 15px;">
                    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href = 'users';">Edit</button>
                </div>
            </form>
        </div>
    </div>
  </body>
</html>