<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/add_discussion.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<title> User Profile
	</title>
</head>

<body>
	<div th:insert="fragments/user_navbar.html"> </div>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-9 mx-auto">
				<div class="card card-signin flex-row my-5" th:object="${user}">
					<div class="row">
						<div class="card-body">
							<h6 th:text="|Name: ${user.name}|">Name: John Doe</h6>
							<h6 th:text="|Email: ${user.email}|">Email: john@doe.com</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>