<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Admin</title>
  </head>
  <body>
  	<div th:insert="fragments/admin_navbar.html"> </div>
  	<br>
  	<br>
  	<br>
    <div>
    	<table class="table table-striped table-responsive-md btn-table">
        	<thead class="thead-dark">
            	<tr>
                	<th>User ID</th>
                   	<th>Name</th>
                    <th>Email</th>
                    <th>Created On</th>
                    <th>Last Updated On</th>
                    <th>Edit</th>
                </tr>
            </thead>
			<tbody>
            	<tr th:each="user: ${users}">
                	<td th:text="${user.userId}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.createdOn}"></td>
                    <td th:text="${user.updatedOn}"></td>
                    <td>
                    	<button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect"  th:attr='onclick=|window.location.href = "edituser${user.userId}";|' >Edit</button>
                    </td>
                </tr>
			</tbody>
		</table>
	</div>
  </body>
</html>